* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat;
}
.navbar{
  width: 100%;
  height: 90px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: +1;
}

.icon1{
  width: 200px;
  float: left;
  height: 70px;
}
  
.logo{
  background: linear-gradient(90deg, #fff, #c89116);
  font-size: 35px;
  font-family: Montserrat;
  font-weight: bold;
  padding-left: 50px;
  float: left;
  padding-top: 20px;
  width: 400px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo img{
  float: left;
  width: 60px;
  height: 50px;
}

.logotext{
  padding-top: 2px;
  letter-spacing: 5px;
  font-family: montserrat;
}

.menu{
  width: 800;
  float: left;
  height: 30px;
  margin-left: 49%;
  padding-top: 10px;
  position: absolute;
}

ul{
  float: left;
  display: flex;
  justify-content: center;
  align-content: center;
}

ul li{
  list-style: none;
  margin-left: 42px;
  margin-top: 27px;
  font-size: 14px;
}

ul li a{
  text-decoration: none;
  color: #fff;
  font-family: Montserrat;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover{
  color: #c89116;
} 

.contact{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), #000000), url(bg4.jpg);
  background-size: cover;
}

.contact .content{
  max-width: 800px;
  text-align: center;
  margin-top: 30px;
}
.contact .content h2{
  font-size: 36px;
  font-weight: bold;
  color: #c89116;
  margin-top: 30px;
}
.contact .content p{
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 50px;
  color: #fff;
}
.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container .contactInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container .contactInfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container .contactInfo .box .icon{
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container .contactInfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}
.container .contactInfo .box .text h3{
  font-weight: 500;
  color: #c89116;
}
.contactForm{
  width: 40%;
  padding: 40px;
  background: #fff;
}
.contactForm h2{
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactForm .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
  color: #e91ee63;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}